In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# df = pd.read_csv('data.csv')
df = pd.read_csv('/root/cs1090afinalproj/data.csv')

In [5]:
df['HIMCAIDE'] = df['HIMCAIDE'].replace({
    1: 'No',
    2: 'Yes',
    3: 'Yes'
}).where(df['HIMCAIDE'].isin([1, 2, 3]), np.nan)

df['HIMCAREE'] = df['HIMCAREE'].replace({
    1: 'No',
    2: 'Yes',
    3: 'Yes'
}).where(df['HIMCAREE'].isin([1, 2, 3]), np.nan)

df['HIP1RELPOLICY'] = df['HIP1RELPOLICY'].replace({
    1: 'Child',
    2: 'Spouse',
    3: 'Other',
    4: 'Other'
}).where(df['HIP1RELPOLICY'].isin([1, 2, 3]), np.nan)

In [4]:
def replace_yes_no(column):
    return column.replace({1: 'No', 2: 'Yes'}).where(column.isin([1, 2]), np.nan)

cols_to_replace = ['HIPRIVATE', 'HISTATE', 'HICHIP', 'HIMILANY', 'HINOTYR', 'HIP1CVROTR',
                   'HIP1CAID', 'HIP1CARE', 'HIP2CAID', 'HIP2CARE', 'HIP2OGOV',
                   'MDEXUPADV', 'ARTHGLUPEV', 'ASTHMAEV', 'AUTISMEV']
df[cols_to_replace] = df[cols_to_replace].apply(replace_yes_no)

In [6]:
df['REGION'] = df['REGION'].replace({1: 'Northeast', 2: 'North Central/Midwest', 3: 'South', 4: 'West'})

In [10]:
df.loc[df['SEX'].isin([7, 8, 9]), 'SEX'] = np.nan
df.loc[df['SEX'] == 1, 'SEX'] = 'Male'
df.loc[df['SEX'] == 2, 'SEX'] = 'Female'

/tmp/ipykernel_6518/644390204.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['SEX'].isin([7, 8, 9]), 'SEX'] = 'NAN'

In [13]:
df.loc[df['MARSTCUR'].isin([0, 9]), 'MARSTCUR'] = np.nan
df.loc[df['MARSTCUR'] == 1, 'MARSTCUR'] = 'Married, spouse present'
df.loc[df['MARSTCUR'] == 2, 'MARSTCUR'] = 'Married, spouse absent'
df.loc[df['MARSTCUR'] == 3, 'MARSTCUR'] = 'Married, spouse in household unknown'
df.loc[df['MARSTCUR'] == 4, 'MARSTCUR'] = 'Separated'
df.loc[df['MARSTCUR'] == 5, 'MARSTCUR'] = 'Divorced'
df.loc[df['MARSTCUR'] == 6, 'MARSTCUR'] = 'Widowed'
df.loc[df['MARSTCUR'] == 7, 'MARSTCUR'] = 'Living with partner'
df.loc[df['MARSTCUR'] == 8, 'MARSTCUR'] = 'Never Married'

/tmp/ipykernel_6518/2630420770.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['MARSTCUR'].isin([0, 9]), 'MARSTCUR'] = 'NAN'

In [17]:
df.loc[df['RACENEW'] == 100, 'RACENEW'] = 'White'
df.loc[df['RACENEW'] == 510, 'RACENEW'] = 'Other Race and Multiple Race'
df.loc[df['RACENEW'] == 200, 'RACENEW'] = 'Black/African American'
df.loc[df['RACENEW'] == 542, 'RACENEW'] = 'American Indian/Alaska Native and Any Other Race'
df.loc[df['RACENEW'] == 400, 'RACENEW'] = 'Asian only'
df.loc[df['RACENEW'] == 300, 'RACENEW'] = 'American Indian/Alaska Native only'
df.loc[df['RACENEW'].isin([997, 998, 999]), 'RACENEW'] = np.nan

/tmp/ipykernel_6518/3103665329.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'White' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['RACENEW'] == 100, 'RACENEW'] = 'White'

In [20]:
df.loc[df['CITIZEN'] == 1, 'CITIZEN'] = 0
df.loc[df['CITIZEN'] == 2, 'CITIZEN'] = 1
df.loc[df['CITIZEN'].isin([7, 8, 9]), 'CITIZEN'] = np.nan

/tmp/ipykernel_6518/399673819.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['CITIZEN'].isin([7, 8, 9]), 'CITIZEN'] = 'NAN'

In [23]:
df.loc[df['ARMFEV'] == 0, 'ARMFEV'] = np.nan

/tmp/ipykernel_6518/3311825892.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['ARMFEV'] == 0, 'ARMFEV'] = 'NAN'

In [25]:
df.loc[df['ARMFEV'] == 11, 'ARMFEV'] = 0
df.loc[df['ARMFEV'] == 20, 'ARMFEV'] = 1
df.loc[df['ARMFEV'].isin([98, 99, 97]), 'ARMFEV'] = np.nan
df.loc[df['ARMFEV'] == 12, 'ARMFEV'] = 0

In [30]:
df.loc[df['EDUC'] == 201, 'EDUC'] = 'High School Graduate'
df.loc[df['EDUC'] == 301, 'EDUC'] = 'Some college, no degree'
df.loc[df['EDUC'] == 0, 'EDUC'] = np.nan
df.loc[df['EDUC'] == 505, 'EDUC'] = 'Professional School or Doctoral degree, topcoded (MD, DDS, DVM, JD, PhD, EdD)'
df.loc[df['EDUC'] == 303, 'EDUC'] = 'AA degree: academic program'
df.loc[df['EDUC'] == 400, 'EDUC'] = "Bachelor's degree (BA,AB,BS,BBA)"
df.loc[df['EDUC'] == 202, 'EDUC'] = 'GED or equivalent'
df.loc[df['EDUC'] == 103, 'EDUC'] = 'Grades 1-11 (no further detail)'
df.loc[df['EDUC'] == 501, 'EDUC'] = "Master's degree (MA,MS,Med,MBA)"
df.loc[df['EDUC'] == 302, 'EDUC'] = 'AA degree: technical/vocational/occupational'
df.loc[df['EDUC'] == 116, 'EDUC'] = '12th grade, no diploma'
df.loc[df['EDUC'] == 999, 'EDUC'] = np.nan
df.loc[df['EDUC'] == 997, 'EDUC'] = np.nan

In [31]:
df.loc[df['EMPSTAT'] == 100, 'EMPSTAT'] = 'Employed'
df.loc[df['EMPSTAT'] == 0, 'EMPSTAT'] = np.nan
df.loc[df['EMPSTAT'] == 200, 'EMPSTAT'] = 'Not Employed'
df.loc[df['EMPSTAT'] == 999, 'EMPSTAT'] = np.nan

/tmp/ipykernel_6518/2736362787.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Employed' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['EMPSTAT'] == 100, 'EMPSTAT'] = 'Employed'

In [39]:
df.loc[df['EMPSTAT'] == 'Not Employed', 'EMPSTAT'] = 0
df.loc[df['EMPSTAT'] == 'Employed', 'EMPSTAT'] = 1

In [41]:
df.loc[df['HOURSWRK'].isin([97, 98, 99]), 'HOURSWRK'] = np.nan

In [4]:
df['EMPHI'].unique()

array([2, 0, 1, 9, 8, 7])

In [5]:
df.loc[df['EMPHI'] == 0, 'EMPHI'] = np.nan
df.loc[df['EMPHI'] == 1, 'EMPHI'] = 0
df.loc[df['EMPHI'] == 2, 'EMPHI'] = 1
df.loc[df['EMPHI'] == 9, 'EMPHI'] = np.nan
df.loc[df['EMPHI'] == 8, 'EMPHI'] = np.nan
df.loc[df['EMPHI'] == 7, 'EMPHI'] = np.nan

In [6]:
df['EMPHI'].unique()

array([ 1., nan,  0.])

In [7]:
df['EMPHI'].unique()
df['EMPHI']

0        0.0
1        0.0
2        NaN
3        0.0
4        NaN
        ...
35110    NaN
35111    0.0
35112    NaN
35113    NaN
35114    NaN
Name: EMPHI, Length: 35115, dtype: float64

In [34]:
df.loc[df['GOTWELF'] == 0, 'GOTWELF'] = np.nan
df.loc[df['GOTWELF'] == 10, 'GOTWELF'] = 0
df.loc[df['GOTWELF'] == 21, 'GOTWELF'] = 1
df.loc[df['GOTWELF'] == 90, 'GOTWELF'] = np.nan
df.loc[df['GOTWELF'] == 70, 'GOTWELF'] = np.nan
df.loc[df['GOTWELF'] == 80, 'GOTWELF'] = np.nan

/tmp/ipykernel_6518/3678331978.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['GOTWELF'] == 0, 'GOTWELF'] = 'NAN'

In [35]:
df.loc[df['GOTRET'] == 2, 'GOTRET'] = 'SSDI'
df.loc[df['GOTRET'] == 1, 'GOTRET'] = 'SSI'
df.loc[df['GOTRET'].isin([9, 0, 7, 8]), 'GOTRET'] = np.nan

/tmp/ipykernel_6518/155645698.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'SSDI' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['GOTRET'] == 2, 'GOTRET'] = 'SSDI'

In [36]:
df.loc[df['WCHSSISSDI'] == 0, 'WCHSSISSDI'] = np.nan
df.loc[df['WCHSSISSDI'] == 1, 'WCHSSISSDI'] = 'SSI'
df.loc[df['WCHSSISSDI'] == 2, 'WCHSSISSDI'] = 'SSDI'
df.loc[df['WCHSSISSDI'] == 9, 'WCHSSISSDI'] = np.nan
df.loc[df['WCHSSISSDI'] == 3, 'WCHSSISSDI'] = 'Both SSI and SSDI'

/tmp/ipykernel_6518/202163946.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NAN' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['WCHSSISSDI'] == 0, 'WCHSSISSDI'] = 'NAN'

In [37]:
df.loc[df['HEALTH'] == 3, 'HEALTH'] = 'Good'
df.loc[df['HEALTH'] == 2, 'HEALTH'] = 'Very Good'
df.loc[df['HEALTH'] == 1, 'HEALTH'] = 'Excellent'
df.loc[df['HEALTH'] == 4, 'HEALTH'] = 'Fair'
df.loc[df['HEALTH'] == 5, 'HEALTH'] = 'Poor'
df.loc[df['HEALTH'].isin([7, 9]), 'HEALTH'] = np.nan

/tmp/ipykernel_6518/4128528502.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Good' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['HEALTH'] == 3, 'HEALTH'] = 'Good'