In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df['HIMCAIDE'] = df['HIMCAIDE'].replace({
    1: 0,
    2: 1,
    3: 1
}).where(df['HIMCAIDE'].isin([1, 2, 3]), np.nan).astype('Int64')

df['HIMCAREE'] = df['HIMCAREE'].replace({
    1: 0,
    2: 1,
    3: 1
}).where(df['HIMCAREE'].isin([1, 2, 3]), np.nan).astype('Int64')

df['HIP1RELPOLICY'] = df['HIP1RELPOLICY'].replace({
    1: 'Child',
    2: 'Spouse',
    3: 'Other',
    4: 'Other'
}).where(df['HIP1RELPOLICY'].isin([1, 2, 3]), np.nan)

In [4]:
def replace_yes_no(column):
    return column.replace({1: 0, 2: 1}).where(column.isin([1, 2]), np.nan).astype('Int64')

cols_to_replace = ['HIPRIVATE', 'HISTATE', 'HICHIP', 'HIMILANY', 'HINOTYR', 'HIP1CVROTR',
                   'HIP1CAID', 'HIP1CARE', 'HIP2CAID', 'HIP2CARE', 'HIP2OGOV',
                   'MDEXUPADV', 'ARTHGLUPEV', 'ASTHMAEV', 'AUTISMEV','HOSPNGHT','THERAPYR','SAWMENT',
                   'DELAYCOST', 'YDELAYMENTAL', 'DELAYINS','YDELAYMEDYR','YSKIMPMEDYR',
                   'YSKIPMEDYR', 'HIPROBPAYR', 'HEALTHPROV', 'HINOTCOVE']
df[cols_to_replace] = df[cols_to_replace].apply(replace_yes_no)

In [5]:
df['DVINT'] = df['DVINT'].replace({
    100: 'Never',
    200: 'Less than 1 year',
    201: 'Visits in the past 2 weeks',
    202: '2 weeks to less than 6 months',
    203: 'Under 6 months',
    204: '6 months to less than 12 months',
    300: '1 year or more',
    301: '1 year',
    302: '1 year to less than 2 years',
    303: '1 year to less than 3 years',
    304: '2 years to less than 3 years',
    305: '2 years to less than 5 years',
    306: '2 years',
    307: '2 to 4 years',
    308: '3 to 4 years',
    309: '3 years to less than 5 years',
    310: 'More than 3 years',
    400: '5 years or more',
    401: '5 to 9 years',
    402: 'More than 10 years'
}).where(df['DVINT'].isin(range(100,403)), np.nan)

df['URGCAREYRNO'] = df['URGCAREYRNO'].replace({
    0: '0 times',
    1: '1 time',
    2: '2 times',
    3: '3 times',
    4: '4 times',
    5: '5+ times',
}).where(df['URGCAREYRNO'].isin(range(0,6)), np.nan)

df['ERYRNO'] = df['ERYRNO'].replace({
    10: 'No visits',
    20: '1 visit',
    30: '2 to 3 visits',
    31: '2 visits',
    32: '3 visits',
    40: '4 or more visits',
    41: '4 to 9 visits',
    42: '4 to 5 visits',
    43: '6 to 7 visits',
    44: '8 to 9 visits',
    45: '10 to 12 visits',
    46: '13 or more visits',
    47: '13 to 15 visits',
    48: '16 or more visits'
}).where(df['ERYRNO'].isin(range(10,49)), np.nan)

df['DVINTWELL'] = df['DVINTWELL'].replace({
    0: 'Never',
    1: 'Within the past year',
    2: 'More than 1 year ago but less than 2 years ago',
    3: 'More than 2 years ago but less than 3 years ago',
    4: 'More than 3 years ago but less than 5 years ago',
    5: 'More than 5 years ago but less than 10 years ago',
    6: '10+ years ago'
}).where(df['DVINTWELL'].isin(range(0,7)), np.nan)

df['WORMEDBILL'] = df['WORMEDBILL'].replace({
    1: 'Very worried',
    2: 'Somewhat worried',
    3: 'Not at all worried'
}).where(df['WORMEDBILL'].isin(range(1,4)), np.nan)

df['HICHIPE'] = np.select(
    [df['HICHIPE'] == 10, df['HICHIPE'].isin(range(20, 23))],
    [0, 1],
    default=np.nan
)

df['HIMILITE'] = np.select(
    [df['HIMILITE'] == 10, df['HIMILITE'].isin(range(20, 26))],
    [0, 1],
    default=np.nan
)

df['HIOTHGOVE'] = np.select(
    [df['HIOTHGOVE'] == 10, df['HIOTHGOVE'].isin(range(20, 23))],
    [0, 1],
    default=np.nan
)